body{
    background-color: grey;
    color: aliceblue;
}
#newGame{
    background-color: green;
    padding: 10px 20px;
    
}
.header{
    background-color: black;
    padding: 10px;
    margin: 20px 10px;
    
}
#guess{
    font-size: 28px;
}
#btn{
    background-color: green;
    
}
.center{
    margin: 50px 100px;
    
}
